body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.logo img{
    width: 74px;
}

.user-menu {
    display: flex;
    align-items: center;
}

.user-menu a {
    font: 13px Roboto, Arial, sans-serif;
    text-decoration: none;
}

.user-menu a:hover {
    text-decoration: underline;
}

.user-menu a,
.user-menu span {
    margin-left: 10px;
}

.appbar {
    font-size: 20px;
    color: #d93025;
    padding: 25px 35px 20px 35px;
    margin-left: 10px;
}

.section-line {
    border-bottom: 1px solid #ebebeb;
}

section {
    display: flex;
    height: 250px;
}

.column1 {
    background-color: lightblue;
    width: 200px;
}

.column2 {
    background-color: lightpink;
    width: 600px;
}

.column3 {
    background-color: lightblue;
    width: 300px;
}